/*******************/
/*******************/
/********************/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=El+Messiri:wght@400;500;600&family=Istok+Web:wght@400;700&family=Lato:wght@300;400;700&family=Roboto:wght@100;300;400;500&family=RocknRoll+One&family=Tajawal:wght@200;300;400;500&display=swap");
/********************/
/********************/
/********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem 2rem;
}

.main_title {
  font-size: 54px;
  font-weight: 900;
  color: #172D47;
  text-shadow: 0px 5px 4px #00000040;
}

.swiper {
  width: 100vw;
  margin: 0;
  padding: 2rem;
  overflow: hidden !important;
}

@media (max-width: 1149px) and (min-width: 750px) {
  .structure {
    padding: 3rem 2rem 2rem;
  }
}

@media (max-width: 430px) {
  .structure {
    padding: 2rem 1rem;
  }
}

@media (max-width: 630px) {
  .main_title {
    font-size: 42px;
    font-weight: 700;
  }
}

@media (max-width: 530px) {
  .main_title {
    font-size: 32px;
    font-weight: 700;
  }
}

.all_work {
  margin: 3rem 0;
}

.all_work .text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all_work .text h1 {
  font-weight: 700;
  font-size: 54px;
  color: #172D47;
  line-height: 64px;
}

.all_work .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.all_work .work .card {
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.all_work .work .card img {
  width: 400px;
  height: 302px;
}

.all_work .work .card .tech {
  width: 400px;
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 15px 0px #0000001a;
          box-shadow: 0px 10px 15px 0px #0000001a;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  height: 135px;
}

.all_work .work .card .tech h3 {
  font-size: 20px;
  font-weight: 700;
  color: #172D47;
  margin-bottom: 1rem;
}

.all_work .work .card .tech ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-right: 1rem;
}

.all_work .work .card .tech ul li {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin-right: 0.5rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 5px 8px;
  color: #172D47;
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .all_work .work {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media (max-width: 885px) {
  .all_work .text h1 {
    font-size: 45px;
  }
}

@media (max-width: 770px) {
  .all_work .text h1 {
    font-size: 38px;
  }
}

@media (max-width: 680px) {
  .all_work .text h1 {
    font-size: 30px;
  }
}

@media (max-width: 470px) {
  .all_work .work .card img, .all_work .work .card .tech {
    width: 368px !important;
  }
}

@media (max-width: 385px) {
  .all_work .work .card img, .all_work .work .card .tech {
    width: 340px !important;
  }
}
/*# sourceMappingURL=Products.module.css.map */