


/*******************/
/*******************/
// Theme Fonts
/********************/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=El+Messiri:wght@400;500;600&family=Istok+Web:wght@400;700&family=Lato:wght@300;400;700&family=Roboto:wght@100;300;400;500&family=RocknRoll+One&family=Tajawal:wght@200;300;400;500&display=swap');

$font-family:"Lato",sans-serif;

// Theme Colors
/********************/
$main-color:#172D47;
$secondary-color: #297899;
$white:#fff;
$card-color: rgba(159, 202, 209, 0.25);
$back-color:#FCFCFC;
$tech-back-color:hsla(0, 0%, 0%, 0.05);
$gray-text:#828282;
$text-color:rgba(23, 45, 71, 0.72)
/********************/
// Theme Link style
/********************/
