@import "../../assets/scss/variables";
@import "../../assets/scss/global";

.container {
  background-color: $back-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem 4rem;
  .title {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .line {
      margin-top: -70px;
}
  }
  .team {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 2rem;
    align-items: center;

    .card {
      width: 382px;
      border: 1px solid #d6d7e3;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      img {
        width: 100%;
        border-radius: 15px 15px 0px 0;
        -webkit-border-radius: 15px 15px 0px 0;
        -moz-border-radius: 15px 15px 0px 0;
        -ms-border-radius: 15px 15px 0px 0;
        -o-border-radius: 15px 15px 0px 0;
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        width: 100%;
        height: 150px;
        justify-content: center;
        box-shadow: 0px 0px 20px 0px #00000014;
        border-radius: 0 0 15px 15px;
        -webkit-border-radius: 0 0 15px 15px;
        -moz-border-radius: 0 0 15px 15px;
        -ms-border-radius: 0 0 15px 15px;
        -o-border-radius: 0 0 15px 15px;
        .name {
          font-weight: 700;
          font-size: 17px;
          color: $main-color;
          margin-bottom: 0.5rem;
        }
        .title {
          font-weight: 400;
          font-size: 14px;
          color: $gray-text;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
  .team {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}
}

@media (max-width: 768px) {
  .container {
  .team {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
  }
}
}