@import "../../assets/scss/variables";
@import "../../assets/scss/global";

.slider-container {
  width: 100%; /* Adjust the width as needed */
  margin: 2rem 0;
}

.slider-image {
  // width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
.service {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 1rem;
  width: 230px !important;
  height: 202.4px;
  gap: 0.5rem;
  box-shadow: 0px 10px 15px 0px #0000001a;
}
.service span {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: $main-color;
  margin-top: 0.5rem;
  text-align: center;
}
