/*******************/
/*******************/
/********************/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=El+Messiri:wght@400;500;600&family=Istok+Web:wght@400;700&family=Lato:wght@300;400;700&family=Roboto:wght@100;300;400;500&family=RocknRoll+One&family=Tajawal:wght@200;300;400;500&display=swap");
/********************/
/********************/
/********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem 2rem;
}

.main_title {
  font-size: 54px;
  font-weight: 900;
  color: #172D47;
  text-shadow: 0px 5px 4px #00000040;
}

.swiper {
  width: 100vw;
  margin: 0;
  padding: 2rem;
  overflow: hidden !important;
}

@media (max-width: 1149px) and (min-width: 750px) {
  .structure {
    padding: 3rem 2rem 2rem;
  }
}

@media (max-width: 430px) {
  .structure {
    padding: 2rem 1rem;
  }
}

@media (max-width: 630px) {
  .main_title {
    font-size: 42px;
    font-weight: 700;
  }
}

@media (max-width: 530px) {
  .main_title {
    font-size: 32px;
    font-weight: 700;
  }
}

.container {
  margin: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1277px;
  border: 1px solid #d6d7e3;
  -webkit-box-shadow: 0px 2px 10px 5px #4545451a;
          box-shadow: 0px 2px 10px 5px #4545451a;
  background-color: #fff;
  height: 634px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -o-transform: translateY(-15%);
}

.container .contact .text {
  margin: 1rem 3rem;
}

.container .contact .text .p1 {
  font-weight: 700;
  font-size: 54px;
  color: #172D47;
}

.container .contact .text .p2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  color: #172D47;
}

.container .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 9rem 3rem 0;
}

.container .contact form label {
  color: #172D47;
  font-size: 16px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.container .contact form input {
  width: 432.15px;
  height: 50px;
  border: 3px solid #297899;
  -webkit-box-shadow: 0px 0px 1px 0px #00000040;
          box-shadow: 0px 0px 1px 0px #00000040;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  color: #172D47;
}

.container .contact form textarea {
  width: 432.15px;
  height: 94px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 3px solid #297899;
  -webkit-box-shadow: 0px 0px 1px 0px #00000040;
          box-shadow: 0px 0px 1px 0px #00000040;
  padding: 5px 10px;
  font-size: 16px;
  color: #172D47;
}

.container .contact form button {
  background-color: #297899;
  border: 0;
  -webkit-box-shadow: 0px 0px 6px 0px #297899;
          box-shadow: 0px 0px 6px 0px #297899;
  margin-top: 1rem;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
}

.container .contact .letter {
  position: absolute;
  right: 0;
  bottom: 18%;
}

@media (max-width: 1100px) {
  .container .contact .text .p1 {
    font-size: 45px;
  }
}

@media (max-width: 1022px) {
  .container .contact form input,
  .container .contact form textarea {
    width: 400px;
  }
  .container .contact .text .p1 {
    font-size: 40px;
  }
}

@media (max-width: 956px) {
  .container .contact form input,
  .container .contact form textarea {
    width: 350px;
  }
  .container .contact .text .p1 {
    font-size: 35px;
  }
}

@media (max-width: 873px) {
  .container .contact {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .container .contact form input,
  .container .contact form textarea {
    width: 300px;
  }
  .container .contact .text .p1 {
    font-size: 30px;
  }
  .container .contact .text .p2 {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .contact .form_div {
    width: 444px;
  }
  .container .contact .arrow1 {
    display: none;
  }
  .container .contact form input,
  .container .contact form textarea, .container .contact form button {
    width: 444px;
  }
  .container .contact .text .p1 {
    font-size: 45px;
  }
  .container .contact .text .p2 {
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .container .contact .form_div {
    width: 361px;
  }
  .container .contact form input,
  .container .contact form textarea, .container .contact form button {
    width: 361px;
  }
  .container .contact .text {
    margin: 1rem;
  }
  .container .contact .text .p1 {
    font-size: 30px;
  }
  .container .contact .text .p2 {
    font-size: 22px;
  }
}

@media (max-width: 430px) {
  .container .contact .form_div {
    width: 300px;
  }
  .container .contact form input,
  .container .contact form textarea, .container .contact form button {
    width: 300px;
  }
}

@media (max-width: 430px) {
  .container .contact .text .p1 {
    font-size: 25px;
  }
  .container .contact .text .p2 {
    font-size: 18px;
  }
}

@media (max-width: 359px) {
  .container .contact .form_div {
    width: 250px;
  }
  .container .contact form input,
  .container .contact form textarea, .container .contact form button {
    width: 250px;
  }
}
/*# sourceMappingURL=Contact.module.css.map */