@import "../../assets/scss/variables";
@import "../../assets/scss/global";

.nav {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 1.1rem 3rem;
  background: #1e384f;
  background: linear-gradient(
    180deg,
    rgba(30, 56, 79, 1) 0%,
    rgba(30, 56, 79, 1) 100%,
    rgba(28, 57, 81, 1) 100%
  );
}
.nav_dis {
  display: flex;
  justify-content: space-between;
  .lang_social {
    .lang {
      font-weight: 700;
      margin: 0 3rem;
      .icon {
        fill: $white;
      }
      span {
        color: $white;
      }
    }
  }
}
.navItem {
  list-style: none;
  padding-left: 1.2rem;

  .link {
    text-decoration: none;
    color: $white;
    font-weight: 700;
    font-size: 16px;
  }
  .link.active {
    color: #9fcad1;
  }
  .link:hover {
    color: #9fcad1;
  }
}

.social {
  .icon {
    margin-right: 0.5rem;
    fill: $white;
  }
  .icon {
    path {
      fill: $white;
    }
  }
}

@media (max-width: 830px) {
  .logo {
    width: 131px;
  }
  .nav {
    .nav_dis {
      display: none;
    }
  }
}
@media (max-width: 1050px) {
  .nav {
    grid-template-columns: 15% 85%;
  }
}
@media (max-width: 991px) and (min-width: 830px) {
  .nav {
    grid-template-columns: 10% 90%;
  }
  .nav_dis {
    display: flex;
    justify-content: space-between;
    .lang_social {
      .lang {
        font-weight: 700;
        margin: 0 1rem;
      }
    }
  }
}
@media (max-width: 930px) {
  .nav {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 450px) {
  .nav {
    padding: 0.5rem;
  }
  .logo {
    width: 73px;
  }
}
