
.banar{
    // height: 95vh;
    .img{
        height: 100%;
        width: 100%;
}
    .mob_img,.tab_img{
        width: 100%;
        display: none;
        border: none;
        outline: none;
    }
}
////////////////
@media (max-width:950px){
    .banar{
        .img{
            display: none;
        }
        .tab_img{
            display: block;
        }
    }
}
@media (max-width:530px){
    .banar{
        .mob_img{
            display: block;
        }
        .tab_img{
            display: none;
        }
    }
}
