@import "../../assets/scss/variables";
@import "../../assets/scss/global";

.process {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .all_processes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $card-color;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      padding: 36px 24px 20px 24px;
      box-shadow: 0px 10px 15px 0px #0000001a;
      height: 335px;
      width: 295px;
      &:hover {
        cursor: pointer;
        background: linear-gradient(180deg, #297899 0%, #172d47 100%);
      }
      &:hover h3 {
        color: $white;
      }
      &:hover p {
        color: $white;
      }
      &:hover .img path {
        fill: $white;
      }
      &:hover .img g path {
        fill: $white;
      }
      h3 {
        font-size: 19px;
        font-weight: 700;
        margin: 1rem 0;
        color: $main-color;
      }
      p {
        text-align: center;
        line-height: 28px;
        color: $main-color;
        font-size: 17px;
        font-weight: 400;
        width: 80%;
      }
    }
  }
}

/////////////////////////////////
// @media (max-width: 1400px) and (min-width: 1240px) {
//   .process {
//     .all_processes {
//      column-gap: 20px;
//     }
//   }
// }

// @media (max-width: 1240px) and (min-width: 1050px) {
//   .process {
//     .all_processes {
//       display: grid;
//       grid-template-columns: repeat(3, 1fr);

//     }
//   }
// }

// @media (max-width: 1050px) and (min-width: 750px) {
//   .structure {
//     padding: 3rem 2rem 2rem;
//   }
//   .process {
//     .all_processes {
//       display: grid;
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }
@media (max-width: 749px) {
  .process {
  .no_slider{
    display:none;
  }
}
  .swiper{
    display: grid;
  }
}
@media (min-width: 750px) {
  .swiper{
    display:none;
  }
}
@media (max-width: 480px) {
  .process {
  .swiper {
    padding: .5rem !important;
  }
}
}
@media (max-width: 309px) {
  .process {
    .all_processes {
  .card { 
   width: 290px;
   h3{
    text-align: center;
   }
  }
}
  }
}