@import "../../assets/scss/variables";
@import "../../assets/scss/global";

.feature {
  overflow: hidden;
  .title_line {
    position: relative;
    h1 {
      z-index: 2;
    }

    .line {
      position: absolute;
      z-index: 1;
      top: 61px;
      right: 10px;
    }
  }
  .allcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden !important;
    column-gap: 2rem;

    .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      background-color: $card-color;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      padding: 36px 24px 20px 24px;
      box-shadow: 0px 5px 4px 0px #00000040;
      height: 373px;
      width: 310px;
      &:hover {
        cursor: pointer;
        background: linear-gradient(180deg, #297899 0%, #172d47 100%);
      }
      &:hover h3 {
        color: $white;
      }
      &:hover p {
        color: $white;
      }
      &:hover .img g g path {
        fill: $white;
      }
      &:hover .img g path {
        fill: $white;
      }

      h3 {
        font-size: 19px;
        font-weight: 700;
        margin: 1rem 0;
        color: $main-color;
      }
      p {
        text-align: center;
        line-height: 28px;
        color: $main-color;
        font-size: 17px;
        font-weight: 400;
        width: 80%;
      }
    }
  }
}
/////////////////////////////////
 @media (max-width: 1400px) and (min-width: 1240px) {
  .feature {
    .allcards {
     column-gap: 20px;
    }
  }
}

@media (max-width: 1240px) and (min-width: 1050px) {
  .feature {
    .allcards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

    }
  }
}

@media (max-width: 1050px) and (min-width: 750px) {
  .structure {
    padding: 3rem 2rem 2rem;
  }
  .feature {
    .allcards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 749px) {
  .feature {
    .allcards{
      column-gap: 1rem;
    }
  .no_slider{
    display:none;
  }
}
  .swiper{
    display: grid;
  }
}
@media (min-width: 750px) {
  .swiper{
    display:none;
  }
}
@media (max-width: 630px) {
  .feature{
    .line{
      display: none;
    }
}
}
// @media (max-width: 480px) {
//   .feature {
//     .allcards {
//       .card { 
//        margin-right: .5rem;
//       }
//     }
//   .swiper {
//     padding: .5rem !important;
//   }
// }
// }
@media (max-width: 309px) {
  .feature {
    .allcards {
  .card { 
   width: 290px;
   h3{
    text-align: center;
   }
  }
}
  }
}